<!DOCTYPE html>
<html>
<head>
     <link rel="stylesheet" href="/public/css/styles.css">
    <script src="/public/js/app.js"></script>
</head>
</head>
<body>
    {{>header}}
</body>
    

        {{>footer}}
        <p>But also {{message}} to send.</p>
</html>