<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <h1>{{title}}</h1>
        <p>this is the help statement that is ment to help you oooot! </p>
        <p>Wait im coming {{helpText}}</p>
    </body>
</html>