<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/js/app.js"></script>
        
        </style>
    </head>
    <body>
        <h1>FWeathe r r r </h1>
    </body>
</html>